<div class="tab-pane" ng-show="selected">

  <div class="form-group">
    <label for="publicKey" class="control-label col-xs-3" style="text-align: left">Public Key Path</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" name="publicKey" id="publicKey" required ng-model="sshKeyPair.pubKeyPath" 
             placeholder="Public Key Path" tabindex="1" ng-change="matchSshKeyPasswords()">
    </div>
  </div>

  <div class="form-group">
    <label for="privateKey" class="control-label col-xs-3" style="text-align: left">Private Key Path</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" name="privateKey" id="privateKey" required ng-model="sshKeyPair.privKeyPath" 
             placeholder="Private Key Path" tabindex="2" ng-change="matchSshKeyPasswords()">
    </div>
  </div>

  <div class="form-group" ng-show="!needsPassword">
    <span style="color:green; padding-left: 15px;">Password-less Keypair</span>
  </div>

  <div class="form-group row row-same-height" ng-if="needsPassword">
    <label for="keyPassphrase" class="control-label col-xs-3" style="text-align: left;">Ssh key password:</label>
    <div class="col-md-4">
      <input type="password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="keyPassphrase" 
             required="true" ng-model="sshKeyPair.passphrase" placeholder="Password for ssh key" tabindex="4" ng-change="matchSshKeyPasswords()">
    </div>
  </div>
  <div class="form-group row row-same-height" ng-if="needsPassword">
    <label for="keyPassphraseTwo" class="control-label col-xs-3" style="text-align: left;">Repeat password:</label>
    <div class="col-md-4">
      <input type="password" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="keyPassphraseTwo" 
             required="true" ng-model="inRead" placeholder="Repeat Password" tabindex="5" ng-change="setRepeatSshpassphrase(inRead)">
    </div>
  </div>

  
  <div class="form-group row row-same-height" ng-show="baremetal()">    
    <label for="sudoPassphrase" class="control-label col-xs-3" style="text-align: left">Password needed for 'sudo account'</label>
    <div class="col-xs-9">
      <input type="checkbox" name="sudoPassphrase" ng-model="usingSudoPasswd" tabindex="3" ng-click="sudoChange()"/>
    </div>
  </div>
  <div class="form-group row row-same-height" ng-show="!baremetal()">    
    <span style="color:green; padding-left: 15px;">No sudo password required for cloud account.</span>
  </div>
  
  <div class="form-group row row-same-height" ng-show="usingSudoPasswd">
    <label for="sudoPassphrase" class="control-label col-xs-3" style="text-align: left;">Sudo account password:</label>
    <div class="col-xs-6">
      <input type="password" class="form-control" name="sudoPassphrase" required ng-model="sudoAccount.password" 
             placeholder="sudo account password" tabindex="7" ng-change="matchSudoPasswords()">
    </div>
  </div>        
  <div class="form-group row row-same-height" ng-show="usingSudoPasswd">
    <label for="sudoPassphrase2" class="control-label col-xs-3" style="text-align: left;">Repeat password:</label>
    <div class="col-xs-6">
      <input type="password" class="form-control" name="sudoPassphrase2" required ng-model="inSudo" 
             placeholder="Repeat password" tabindex="8" ng-change="setRepeatSudoPassword(inSudo)">
    </div>
    <div class="col-xs-1">
      <span ng-show="(sudoAccount.password !== null && sudoAccount.password.length > 0) && repeatSudoPassword !== sudoAccount.password" 
            class="glyphicon glyphicon-remove" style="color:maroon; margin-top: 5px; margin-right: 5px"></span>
    </div>      
    <div class="col-xs-1">
      <span ng-show="!(sudoAccount.password !== null && sudoAccount.password.length > 0) && repeatSudoPassword === sudoAccount.password" 
            class="glyphicon glyphicon-ok" style="color:green; margin-top: 5px; margin-right: 5px"></span>
    </div>      
  </div>        


  <div class="form-group" ng-if="sshKeyPair.pubKeyPath === '' && sshKeyPair.privKeyPath === ''">    
    <label for="generateKeys" class="control-label col-xs-3" style="text-align: left">No Local Keys?</label>
    <div class="col-xs-3">
      <button type="button" class="btn btn-default" ng-click="generateKeys()" tabindex="10">Generate Keys</button>
    </div>
  </div>


  <div class="form-group">
    <div class="col-xs-9">
      <span ng-show="currentState == availableStates.success"><span class="glyphicon glyphicon-ok" style="color:green; margin-top: 5px; margin-right: 5px"></span>{{stateMessage.success}}</span>
      <span ng-show="currentState == availableStates.failure"><span class="glyphicon glyphicon-remove" style="color: maroon; margin-top: 5px; margin-right:5px" ></span>{{stateMessage.failure}}</span>
      <span ng-show="currentState == availableStates.initialWarn"><span class="glyphicon glyphicon-exclamation-sign" style="color: darkgoldenrod; margin-top: 5px; margin-right:5px"></span>{{stateMessage.initialWarn}}</span>
      <span ng-show="currentState == availableStates.sudoWarn"><span class="glyphicon glyphicon-exclamation-sign" style="color: darkgoldenrod; margin-top: 5px; margin-right:5px"></span>{{stateMessage.sudoWarn}}</span>
      <span ng-show="currentState == availableStates.passwordNeeded"><span class="glyphicon glyphicon-exclamation-sign" style="color: darkgoldenrod; margin-top: 5px; margin-right:5px"></span>{{stateMessage.passwordNeeded}}</span>
      <span ng-show="currentState == availableStates.userWarn"><span class="glyphicon glyphicon-exclamation-sign" style="color: darkgoldenrod; margin-top: 5px; margin-right:5px"></span>{{stateMessage.userWarn}}</span>
    </div>

  </div>

</div>