<div ng-model="karamelBoard" id="board">
    <div id="columns" class="row">
        <div class="col-sm-2 col-xs-12"
             ng-repeat="column in karamelBoard.nodeGroups"
             data-columnindex="{{$index}}" id="column{{$index}}">
            <div class="column">
                <div class="columnHeader">

                    <div class="dropdown small-caret">
<!--                        <div class="btn btn-default dropdown-toggle" 
                                id="dropdownMenu1" data-toggle="dropdown"><i class="caret projectNameLeft"></i>
                        </div>-->
                    <a class="dropdown-toggle projectNameLeft" data-toggle="dropdown"><b class="glyphicon glyphicon-cog launch"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li class="custom-font"><a title="Add recipe to column" class="leftTextAlign" ng-click="addNewRecipe(column)">Add Recipe</a></li>
                            <li class="custom-font"><a title="Configure Chef" class="leftTextAlign" ng-click="configureCookbook(column)">Set Chef Attributes</a></li>
                            <li class="custom-font"><a title="Configure Provider" class="leftTextAlign" ng-click="configureChef(column)">Update Provider</a></li>
                            <li class="custom-font"><a title="Delete" class="leftTextAlign" ng-click="removeColumn(column)">Delete Group</a></li>

                        </ul>
                    </div>

                    <span>
                        <a ng-click="updateNodeGroup(column)" ng-model="column.name">{{ column.name }}</a>
                    </span>
                </div>

                <ul class="ul-format">
                    <li ng-repeat="cookbook in column.cookbooks">
                        <ul class="ul-format">
                            <li class="recipe" ng-repeat="recipe in cookbook.recipes" ng-include="'partials/recipe.html'"></li>
                        </ul>
                    </li>
                </ul>


                <!--<ul class="recipes recipe-list" as-sortable="karamelSortOptions" ng-model="column.recipes">-->
                    <!--<li class="recipe" ng-repeat="recipe in column.cookbooks.recipes" as-sortable-item ng-include="'partials/recipe.html'">-->
                    <!--</li>-->
                <!--</ul>-->
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

