<form novalidate name="globalAttrConfigureForm">

  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title" ng-model="columnName">{{title}}</h4>
  </div>

  <div class="modal-body">

    <common-tabs>
      <common-tabs-pane cookbook="cookbook" cookbooks-filtered-data="cookbooksFilteredData"
                        ng-repeat="cookbook in cookbooks" title="{{cookbook.name}}" url-info="info.url">

        <div style="overflow: scroll; height: 400px">

          <br/>
          <br/>

          <div class="form-group">
            <label class="control-label">{{cookbooksFilteredData[info.url].description}}</label>
            <hr class="divider"/>
          </div>


          <div ng-repeat="attr in cookbooksFilteredData[info.url].attributes| requiredFilter: true" class="form-group">

            <label class="control-label">{{attr.name}}</label><label class="control-label" ng-show="attr.type === 'array'"> []</label>
            <div ng-switch="attr.type">
              <input ng-switch-when="array" class="form-control" ng-model="attr.value" ng-list/>
              <input ng-switch-default class="form-control" ng-model="attr.value"/>
            </div>
          </div>


          <div class="form-group">
            <a ng-click="toggleCollapse()"> Optional Attributes >> </a>
          </div>


          <div ng-hide="optionalCollapsed">

            <div ng-repeat="attr in cookbooksFilteredData[info.url].attributes| requiredFilter: false" class="form-group">

              <label class="control-label">{{attr.name}}</label><label class="control-label" ng-show="attr.type === 'array'"> []</label>
              <div ng-switch="attr.type">
                <input ng-switch-when="array" class="form-control" ng-model="attr.value" ng-list/>
                <input ng-switch-default class="form-control" ng-model="attr.value"/>
              </div>

            </div>
          </div>

        </div>
      </common-tabs-pane>
    </common-tabs>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    <button type="submit" class="btn btn-primary" ng-click="updateAttributes()">Add</button>
  </div>
</form>