<div class="tab-pane" ng-show="selected">
  <label> Final Summary of credentials status. </label>
  <ul class="list-unstyled">
    <li ng-show="credentialsHolderMap['ssh']">
      <div class="row">
        <div class="col-xs-4">SSH Key Pair Status</div>
        <div class="col-xs-6 col-xs col-sm-offset-1">
          <span ng-show="summary['ssh']" class="glyphicon glyphicon-ok" style="color:green; margin-top: 5px; margin-right: 5px"></span>
          <span ng-show="!summary['ssh']" class="glyphicon glyphicon-remove" style="color: maroon; margin-top: 5px; margin-right:5px" ></span>
        </div>
      </div>
    </li>
    <li ng-show="credentialsHolderMap['ec2']">
      <div class="row">
        <div class="col-xs-4">Ec2 Provider Status</div>
        <div class="col-xs-6 col-xs col-sm-offset-1">
          <span ng-show="summary['ec2']" class="glyphicon glyphicon-ok" style="color:green; margin-top: 5px; margin-right: 5px"></span>
          <span ng-show="!summary['ec2']" class="glyphicon glyphicon-remove" style="color: maroon; margin-top: 5px; margin-right:5px" ></span>
        </div>
      </div>
    </li>

  </ul>
</div>