<aside class="offsidebar">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top:50px;">

    <ul class="nav sidebar-nav">

      <li style="background: #1a1a1a;">
        <a href="#/project/{{experimentCtrl.currentProject.projectId}}" class="text-center">
          {{ experimentCtrl.currentProject.projectName | limitTo: 17 }}{{experimentCtrl.currentProject.projectName.length > 17
          ? '...' : ''}}
        </a>
      </li>

      <li ng-repeat="typeObject in experimentCtrl.alreadyChoosenServices">
        <a href="">
          {{typeObject}} <span class="sub_icon fa fa-globe fa-lg pull-right"></span>
        </a>
      </li>

    </ul>
  </nav>
</aside>
