
<div class="modal-header">
    <button class="close" ng-click="profileCtrl.close()" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
    <h2 class="modal-title">Profile</h2>
</div>
<div class="modal-body" id="profileModal">
    <div class="row">

        <!--<div growl class="pull-right"></div>-->

        <div class="col-md-9 pull-right">
            <form method="post"
                  name="githubCredentialsForm"
                  ng-submit="profileCtrl.login()"
                  class="form-validate"
                  novalidate>


                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group has-feedback">
                            <label class="text-muted">Email</label>
                            <input name="user" placeholder="Your github username" autocomplete="off"
                                   ng-model="profileCtrl.user" class="form-control "
                                   type="text">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group has-feedback">
                            <label class="text-muted">Password</label>
                            <input name="password" placeholder="Github Password" autocomplete="off"
                                   ng-model="profileCtrl.password" class="form-control "
                                   type="text">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <img class="img-thumbnail"
                 ng-src="http://www.gravatar.com/avatar/{{ profileCtrl.getEmailHash() + '?s=300&d=mm'}}"/>
        </div>
    </div>
</div>


