
<div class="modal-header">
  <button class="close" ng-click="profileCtrl.close()" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
  <h2 class="modal-title">Profile</h2>
</div>
<div class="modal-body" id="profileModal">

  <!--<div growl class="pull-right"></div>-->

  <div class="container">
    <div class="col-md-6 col-xs-3 col-sm-4">

      <div class="row">
        <div class="col-xs-3 col-sm-4 col-md-4">
          <div class="form-group" ng-show="isLoggedIn">    
            <label class="control-label" style="text-align: left">Login details found.</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="userInput" class="text-muted">Username</label>
            <input id="userInput" name="user" placeholder="Your github username" 
                   ng-model="github.githubCredentials.user" class="form-control "
                   type="text" tabindex="1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="passwordInput" class="text-muted">Password</label>
            <input id="passwordInput" name="password" placeholder="Github Password" 
                   ng-model="github.githubCredentials.password" class="form-control "
                   type="password" tabindex="2">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2 col-sm-3 col-md-3">
          <div class="row"/>
          <div class="form-group">    
            <button type="button" class="btn btn-default" ng-click="profileCtrl.login()" tabindex="8">Login</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-1 col-sm-1 col-md-1">
      <div class="row">
        <img style="height: 100px; margin-right: 5px;border: 2px solid white;" class="profile-image img-circle pull-right"
             ng-src="http://www.gravatar.com/avatar/{{ profileCtrl.getEmailHash() + '?s=300&d=mm'}}"/>
      </div>
    </div>
  </div>

</div>

<!--<div class="modal-footer" id="profileFooter">
    <div class="row pull-left">
        Select your repo.
    </div>
</div>-->

