<link rel="stylesheet" href="karamel/styles/timeline.css">

<div ng-controller="Gihub as github">
  <div ng-include="'karamel/partials/nav.html'"></div>


  <div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <div ng-include="'karamel/partials/navProject.html'"></div>

    <section>
      <div class="content-wrapper">
        <h3 id="projectBread" style="display: none;"> {{ projectCtrl.currentProject.projectName }} / Start</h3>

        <!-- Page Content -->

        <div class="widget-body col-md-6">
          <div class="timeline clearfix">
            <div class="mid-line"></div>

          </div>
        </div>


        <!-- /#page-content-wrapper -->
      </div>


    </section>


  </div>
  <!-- /#wrapper -->


</div>

