<form novalidate name="globalAttrConfigureForm">

    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" ng-model="columnName">{{title}}</h4>
    </div>

    <div class="modal-body">

        <my-tabs>
            <my-pane cookbook="cookbook" cookbooks-filtered-data="cookbooksFilteredData"
                     ng-repeat="cookbook in cookbooks" title="{{cookbook.name}}" url-info="info.url">

                <div style="overflow: scroll; height: 600px">

                    <br/>
                    <br/>

                    <div class="form-group">
                        <label class="control-label">{{cookbooksFilteredData[info.url].description}}</label>
                        <hr class="divider"/>
                    </div>


                    <div ng-repeat="attr in cookbooksFilteredData[info.url].attributes | requiredFilter: true" class="form-group">

                        <label class="control-label">{{attr.name}}</label>
                        <input class="form-control" ng-model="attr.value"/>

                    </div>


                    <div class="form-group">
                        <a ng-click="toggleCollapse()"> Optional Attributes >> </a>
                    </div>


                    <div ng-hide="optionalCollapsed">

                        <div ng-repeat="attr in cookbooksFilteredData[info.url].attributes | requiredFilter: false" class="form-group">

                            <label class="control-label">{{attr.name}}</label>
                            <input class="form-control" ng-model="attr.value"/>

                        </div>
                    </div>

                </div>
            </my-pane>
        </my-tabs>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="updateAttributes()">Add</button>
    </div>
</form>