<div>
    <form name = "credentialsForm" class="form-horizontal" novalidate>
        
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4>Credentials Access Center</h4>
        </div>

        <div class="modal-body">

            <credentials-tab>

                <br>
                <hr/>
                <br>
                
                <ssh-key-pane title="SSH Key Pair" map-key={{mapKeys.ssh}} credentials-holder-map="credentialsHolderMap">
                </ssh-key-pane>
                
                
                <provider-pane title = "Ec2 Provider" map-key={{mapKeys.provider}} credentials-holder-map="credentialsHolderMap">
                </provider-pane>
                
                
                <summary-pane title="Summary" map-key={{mapKeys.summary}} all-keys="mapKeys" credentials-holder-map="credentialsHolderMap">
                </summary-pane>
                
            </credentials-tab>

            <!--<br>-->
            <!--<br>-->

            <!--<div class="row">-->
                <!--<div class="col-xs-6 col-xs-offset-3">-->
                    <!--<progressbar type="success" value="50">50%</progressbar>-->
                <!--</div>-->
            <!--</div>-->
        </div>


        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8">
                    <button class="btn btn-default" ng-click="close()">Cancel</button>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </form>


</div>