<div class="tab-pane" ng-show="selected">
    
    <div class="form-group">
        <label for="accountId" class="control-label col-xs-3" style="text-align: left">Account-ID</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="accountId" id="accountId" required ng-model="account.accountId" placeholder="Account ID" tabindex="1">
        </div>
    </div>

    <div class="form-group">
        <label for="accountKey" class="control-label col-xs-3" style="text-align: left">Account-Key</label>
        <div class="col-xs-9">
            <input type="password" class="form-control" name="accountKey" id="accountKey" required ng-model="account.accountKey" placeholder="Account Key" tabindex="2">
        </div>
    </div>

    <div class="form-group">

        <div class="col-xs-3">
            <button type="button" class="btn btn-default" ng-click="validateCredentials()" tabindex="3">Validate</button>
        </div>

    </div>
    
</div>