<div>
    <form name = "scaffoldForm" ng-submit="scaffoldFormSubmit()" class="form-horizontal" novalidate>
        
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4>Create a Chef Cookbook with Karamel</h4>
        </div>

        <div class="modal-body">


        </div>


        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-8">
                    <div class="" style="color:tomato; text-align: left" ng-show="scaffoldForm.accountId.$error">
                        <span>Problem creating the cookbook.</span>
                    </div>
                    
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-default" ng-click="close()">Cancel</button>
                    <button class="btn btn-primary">Create Cookbook</button>
                </div>
            </div>
        </div>

    </form>


</div>