<div class="tab-pane" ng-show="selected">
    
    <div class="form-group">
        <label for="publicKey" class="control-label col-xs-3" style="text-align: left">Public Key Path</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="publicKey" id="publicKey" required ng-model="sshKeyPair.pubKeyPath" placeholder="Public Key Path" tabindex="1">
        </div>
    </div>

    <div class="form-group">
        <label for="privateKey" class="control-label col-xs-3" style="text-align: left">Private Key Path</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="privateKey" id="privateKey" required ng-model="sshKeyPair.priKeyPath" placeholder="Private Key Path" tabindex="2">
        </div>
    </div>

    <div class="form-group">

        <div class="col-xs-3">
            <button type="button" class="btn btn-default" ng-click="generateKeys()" tabindex="3">Generate Keys</button>
        </div>
        
        <div class="col-xs-9">
             <span ng-show="currentState == availableStates.success"><span class="glyphicon glyphicon-ok" style="color:green; margin-top: 5px; margin-right: 5px"></span>Valid Ssh Key</span>
             <span ng-show="currentState == availableStates.failure"><span class="glyphicon glyphicon-remove" style="color: maroon; margin-top: 5px; margin-right:5px" ></span>Unable to Generate Ssh Key</span>
             <span ng-show="currentState == availableStates.warn"><span class="glyphicon glyphicon-exclamation-sign" style="color: darkgoldenrod; margin-top: 5px; margin-right:5px"></span>Unable to load default Ssh Key</span>
        </div>

    </div>
    
</div>