<nav class="navbar navbar-fixed-top headerbackground" role="navigation">
    <div class="container-fluid" ng-controller="HeaderController">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand logoFont" href="#/">Karamel</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left header-karamel">
                <li class="dropdown">
                    <!--<a class="dropdown-toggle" data-toggle="dropdown"> File <b class="glyphicon glyphicon-floppy-disk projectName"></b></a>-->
                    <a class="dropdown-toggle headerFont" data-toggle="dropdown"> File <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#/yaml/template">New from template</a></li>-->
                        <li class="custom-font"><a href="#/yaml/open" click-directive>Load Yaml</a></li>
                        <li class="custom-font"><input type="file" id="fileUploader" style="display: none"
                                                       file-uploader></li>
                        <li class="custom-font"><a ng-click="editYaml()">Edit Yaml</a></li>
                        <li class="custom-font"><a ng-click="saveYamlToDisk()">Save</a></li>

                    </ul>
                </li>
                <li class="customBorder"><a ng-click="addNodeGroup()" title="Add Node Group" class="headerFont"><span
                        class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">

                    <!-- Selects a cloud provider (AWS, Vagrant, Bare-metal) for the Project.-->
                    <a class="dropdown-toggle headerFont" data-toggle="dropdown"><i
                            class="glyphicon glyphicon-cloud specializeProvider"></i>Provider </a>
                    <ul class="dropdown-menu" role="menu">

                        <li class="custom-font"><a title="Amazon EC2" class="leftTextAlign"
                                                   ng-click="editAmazonProvider()">Amazon EC2</a></li>

                    </ul>
                </li>
                <li><span/></li>
                <!--<li>-->
                <!--&lt;!&ndash; Add a new NodeGroup (List) to the Board &ndash;&gt;-->
                <!--<a title="NodeGroup" ng-click="addNodeGroup()"><i -->
                <!--class="glyphicon glyphicon-plus specializeProvider"></i>2.Stacks </a>-->
                <!--</li>-->
                <li><span/></li>
                <li>
                </li>
                <li>
                    <!-- Dropdown list of all Chef Cookbooks on the board.
                         User can select one, model-dialog appears to fill in mandatory/optional attributes -->
                    <a title="Configure Chef Attributes" ng-click="configureGlobalAttributes()" class="headerFont"><i
                            class="glyphicon glyphicon-tasks specializeProvider"></i>Configure </a>
                </li>
                <li>
                    <!-- Launch a cluster. 
                    It should present a model dialog that asks you to paste in your public openssh key
                    if you want to (optional). The same dialog should ask for your AWS key/secret
                    -->
                <li class="dropdown">
                    <a class="dropdown-toggle headerFont" data-toggle="dropdown"><i
                            class="glyphicon glyphicon-play specializeProvider"></i>Cluster</a>
                    <ul class="dropdown-menu" role="menu">

                        <li class="custom-font"><a title="Launch Cluster" class="leftTextAlign"
                                                   ng-click="launchCluster()">Launch</a></li>
                        <li class="custom-font"><a title="Stop Cluster" class="leftTextAlign" ng-click="stopCluster()">Stop</a></li>
                        <li class="custom-font"><a title="View Cluster" class="leftTextAlign" ng-click="viewCluster()">View Cluster</a></li>
                    </ul>

                    <!--<a title="Launch the Cluster" ng-click="launch()" class="headerFont"><i-->
                    <!--class="glyphicon glyphicon-play specializeProvider"></i>Launch Cluster </a>-->
                </li>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="padding-right: 30px">
                <!--<li class="dropdown">-->
                <!--&lt;!&ndash; Selects a cloud provider (AWS, Vagrant, Bare-metal) for the Project.&ndash;&gt;-->
                <!--<a class="dropdown-toggle headerFont" data-toggle="dropdown">View</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--&lt;!&ndash; TODO: Conditionally display the active provider, based on the selected provider &ndash;&gt;
                -->
                <!--<li>-->
                <!--<div class="row">-->
                <!--<div class="col-md-9"><a href="#/cluster">Board</a></div>-->
                <!--<div class="col-md-3"><b class="glyphicon glyphicon-hand-left"></b></div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div class="row">-->
                <!--<div class="col-md-9"><a href="#/dag">Dag</a></div>-->
                <!--<div class="col-md-3">&lt;!&ndash; TODO &ndash;&gt;</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div class="row">-->
                <!--&lt;!&ndash;<div class="col-md-9"><a href="#/yaml">Yaml</a></div>&ndash;&gt;-->
                <!--<div class="col-md-9"><a ng-click="editYaml()">Yaml</a></div>-->
                <!--<div class="col-md-3">&lt;!&ndash; TODO &ndash;&gt;</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                <!--<div class="row">-->
                <!--<div class="col-md-9"><a href="#/view/cluster">Other Cluster</a></div>-->
                <!--<div class="col-md-3">&lt;!&ndash; TODO &ndash;&gt;</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->

                <!--</li>-->

                <!--<li>-->
                <!--&lt;!&ndash;<a class="glyphicon glyphicon-hand-right projectNameLeft" href="#" editable-text="cluster.name"> {{ cluster.name || 'empty' }} <span class="glyphicon glyphicon-hand-left projectNameRight"></span></a>&ndash;&gt;
                -->
                <!--<a href="#" editable-text="cluster.name" class="headerFont"> {{ cluster.name || 'Enter cluster name here' }} </a>-->
                <!--</li>-->
                <li>
                    <a title="Cluster Name" class="headerFont"><span ng-bind="$root.karamelBoard.name"></span> </a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>