
<!--Main Wrapper Class-->
<div class="container">
    
    <div id="commandControllerWrapper">
        <form class="commandControllerForm well" ng-submit= "processCommand(commandObj.commandName)">
            
            <div class="form-group text-center">
                <h2> Command Center </h2>
            </div>
            
            <hr/>
            
            <div class="form-group">
                <label class="control-label">Command</label>
                <input type="text" class="form-control" placeholder="Command Name ..." ng-model="commandObj.commandName" />
            </div>
            
            <div class="form-group">
                
                <label class="control-label">Command Result</label>
                <textarea class="form-control" placeholder="Command Response ..." rows="20" ng-bind="commandObj.commandResult">

                </textarea>
                
            </div>
            
        </form>
    </div>
    
</div>